<div class="h-[125px] w-[100%] bg-[#FFA205] items-center justify-between">
  <div class="items-center">
    <img src="../../assets/Logo.svg" alt="logo" class="w-[105x] h-[90px] ml-[43px] mr-[15px]">
    <span class="text-[#fff] drop-shadow-[0_4px_4px_rgba(0,0,0,0.60)] text-[64px] font-extrabold">Ant CaS2ino</span>
  </div>
  <div class="items-center">
    <button routerLink="/inventory" class="w-[191px] h-[87px] items-center bg-[#1B2838] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] justify-center text-[#fff] text-[30px] font-normal drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] duration-300 hover:bg-[#2c496e]">Inventory</button>
    <button class="ml-[20px] w-[191px] h-[87px] items-center bg-[#A3C3E8] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] justify-center text-[#fff] text-[30px] font-normal drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] duration-300 hover:bg-[#b2cceb]">Grinder</button>
    <button class="mx-[20px] w-[191px] h-[87px] items-center bg-[#D47901] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] justify-center text-[#fff] text-[30px] font-normal drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] duration-300 hover:bg-[#e3860b]">Log Out</button>
  </div>
</div>
