<div class="w-full h-full bg-gradient-to-b from-[#C8810B] to-[#1B2838] flex-col">
  <div class="w-full justify-between px-[38px] pt-[30px] pb-[20px]">
    <div class="bg-[#FFA205] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] px-[40px] py-[10px]">
      <span class="text-white text-[35px] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]">Sort</span>
    </div>
    <div class="bg-[#1B2838] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] px-[20px] py-[10px]">
      <span class="text-white text-[36px] font-medium">{{ totalPrice }}$</span>
    </div>
  </div>
  <div class="flex-wrap justify-center">
    <app-skin-lot *ngFor="let skin of skins"></app-skin-lot>
  </div>
</div>