<app-header (click)="priseWon()" class="w-[100%] sticky top-0 z-[10]"></app-header>
<div class="w-[100%]">
  <div class="w-[75%] flex-col">
    <app-mini-header class="w-[100%] sticky top-[125px] z-[5]"></app-mini-header>
    <router-outlet></router-outlet>
  </div>
  <app-chat class="w-[25%] z-[8]"></app-chat>
</div>

<div [ngClass]="{
  'pointer-events-auto': status,
  'pointer-events-none': !status
}"
class="fixed inset-0 z-[12]">
  <div [ngClass]="{
    'opacity-1': status,
    'opacity-0': !status,
    'scale-1': status,
    'scale-0': !status
  }"
  class="fixed top-[50%] left-[50%] z-[14] bg-[rgb(255,0,0)] w-[100px] h-[100px] duration-[1000ms]"></div>
</div>