<div class="h-[316px] bg-[#1D2D47] items-center justify-around">
    <div class="w-[175px] h-[248px] bg-[#5C7284] justify-center items-center ml-[50px]">
        <span class="text-[30px] text-[#fff]">chose skin</span>
    </div>
    <div class="flex-col items-center">
        <div>
            <button class="w-[51px] h-[51px] bg-[#D9D9D9] justify-center items-center text-[30px] text-[#000] font-[400] mr-[6px]">X2</button>
            <button class="w-[51px] h-[51px] bg-[#D9D9D9] justify-center items-center text-[30px] text-[#000] font-[400] mr-[6px]">X3</button>
            <button class="w-[51px] h-[51px] bg-[#D9D9D9] justify-center items-center text-[30px] text-[#000] font-[400] mr-[6px]">X5</button>
            <button class="w-[51px] h-[51px] bg-[#D9D9D9] justify-center items-center text-[30px] text-[#000] font-[400]">X8</button>
        </div>
        <button class="w-[212px] h-[66px] bg-[#4ED755] justify-center items-center mt-[12px]"><span class="text-[#fff] text-[30px] font-[500] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]">Upgrade</span></button>
        <span class="text-[#fff] text-[30px] font-[400] mt-[27px]">chance</span>
    </div>
    <div class="mr-[50px]">
        <img src="../../../assets/SkinUpWinItem.svg" alt="">
    </div>
</div>
<app-game-inventory></app-game-inventory>