
<div class="w-full static">
    <!-- <img src="../../../assets/bgMineFildPart1.svg" alt="bg1" class="w-[704px] h-[400px] z-[2] absolute"> -->
    <div class="h-[200px] w-[702px]">
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#53A94C]"><span>X1.3</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#53A94C]"><span>X1.8</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#53A94C]"><span>X2.4</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#53A94C]"><span>X3</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
    </div>
    <div class="h-[200px] w-[693px]">
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#A94C4C]"><span>X3.0</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#A94C4C]"><span>X5.0</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#A94C4C]"><span>X10.0</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
        <div class="h-[398px] w-[176px] flex flex-col">
            <div class="h-[59px] justify-center items-center text-[24px] text-[#fff] font-[700] bg-[#A94C4C]"><span>X20.0</span></div>
            <button class="border-[2px] border-t-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-[#6f0303] w-[176px] h-[88px]"></button>
            <button class="border-[2px] border-b-[0px] border-[#6f0303] w-[176px] h-[88px]"></button>
        </div>
    </div>
</div>

<app-game-inventory class="mt-[198px]"></app-game-inventory>