<div class="w-full flex-col">
    <div class="h-[303px] w-full bg-[#353535] justify-around items-center ">
        <div class="w-[156px] h-[248px] bg-[#1F2C32] justify-center items-center"><img src="../../../assets/rulet1.svg" alt=""></div>
        <div class="w-[156px] h-[248px] bg-[#544B3C] justify-center items-center"><img src="../../../assets/rulet2.svg" alt=""></div>
        <div class="w-[156px] h-[248px] bg-[#1F2C32] justify-center items-center"><img src="../../../assets/rulet1.svg" alt=""></div>
        <div class="w-[156px] h-[248px] bg-[#544B3C] justify-center items-center"><img src="../../../assets/rulet2.svg" alt=""></div>
        <div class="w-[156px] h-[248px] bg-[#1F2C32] justify-center items-center"><img src="../../../assets/rulet1.svg" alt=""></div>
        <div class="w-[156px] h-[248px] justify-center items-center"><img src="../../../assets/rulet3.svg" alt=""></div>
        <div class="w-[156px] h-[248px] bg-[#544B3C] justify-center items-center"><img src="../../../assets/rulet2.svg" alt=""></div>

    </div>
    <div class="h-[256px] w-full bg-gradient-to-b from-[#c7820a] to-[#1b2838] items-center flex-col">
        <div class="mt-[9px]">
            <div class="justify-around items-center bg-[#1D2D47] h-[62px] w-[729px] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]">
                <span class="text-[30px] text-[#fff] font-[400] ml-[8px]">History of rolls</span>
                <div>
                    <img src="../../../assets/rulet2.svg" alt="" class="w-[64px] h-[64px]">
                    <img src="../../../assets/rulet1.svg" alt="" class="w-[64px] h-[64px]">
                    <img src="../../../assets/rulet1.svg" alt="" class="w-[64px] h-[64px]">
                    <img src="../../../assets/rulet2.svg" alt="" class="w-[64px] h-[64px]">
                    <img src="../../../assets/rulet1.svg" alt="" class="w-[64px] h-[64px]">
                    <img src="../../../assets/rulet1.svg" alt="" class="w-[64px] h-[64px]">
                    <img src="../../../assets/rulet1.svg" alt="" class="w-[64px] h-[64px]">
                    <img src="../../../assets/rulet1.svg" alt="" class="w-[64px] h-[64px]">
                </div> 
            </div>
            <div class="justify-around items-center bg-[#1D2D47] h-[62px] w-[592px] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] ml-[9px]">
                <span class="text-[#fff] text-[29px] font-[400]">Last of 100</span>
                <img src="../../../assets/rulet1.svg" alt="" class="w-[64px] h-[64px]">
                <span class="text-[#fff] text-[29px] font-[400]">39</span>
                <img src="../../../assets/rulet4.svg" alt="" class="w-[64px] h-[64px]">
                <span class="text-[#fff] text-[29px] font-[400]">9</span>
                <img src="../../../assets/rulet2.svg" alt="" class="w-[64px] h-[64px]">
                <span class="text-[#fff] text-[29px] font-[400]">54</span>
            </div>
        </div>
        <div>
            <button class="w-[429px] h-[142px] bg-[#1F2C32] justify-around items-center mt-[20px]">
                <img src="../../../assets/rulet1.svg" alt="" class="w-[109px] h-[109px]">
                <div class="flex-col items-center">
                    <div>
                        <span class="text-[40px] text-[#fff] font-[600]">Place Bet</span>
                        <span class="text-[36px] font-[700] text-[#00B2FF] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] ml-[10px] pt-[5px]">X2</span>
                    </div>
                    <span class="text-[28px] font-[500] text-[#5BEA58]">15789$</span>
                </div>
            </button>
            <button class="w-[429px] h-[142px] bg-[#C5AC55] justify-around items-center mt-[20px] ml-[14px]">
                <img src="../../../assets/rulet4.svg" alt="" class="w-[109px] h-[109px]">
                <div class="flex-col items-center">
                    <div>
                        <span class="text-[40px] text-[#fff] font-[600]">Place Bet</span>
                        <span class="text-[36px] font-[700] text-[#FBFF2E] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] ml-[10px] pt-[5px]">X13</span>
                    </div>
                    <span class="text-[28px] font-[500] text-[#1B501A]">15789$</span>
                </div>
            </button>
            <button class="w-[429px] h-[142px] bg-[#544B3C] justify-around items-center mt-[20px] ml-[14px]">
                <img src="../../../assets/rulet2.svg" alt="" class="w-[109px] h-[109px]">
                <div class="flex-col items-center">
                    <div>
                        <span class="text-[40px] text-[#fff] font-[600]">Place Bet</span>
                        <span class="text-[36px] font-[700] text-[#FAA92F] drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] ml-[10px] pt-[5px]">X2</span>
                    </div>
                    <span class="text-[28px] font-[500] text-[#5BEA58]">15789$</span>
                </div>
            </button>
        </div>
    </div>
</div>


<app-game-inventory></app-game-inventory>